.dispContainer {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
}

.dispBox {
  flex: 1;
  min-width: 400px;
  min-height:300px;
  max-width: 600px;
  border: 1px solid #111;
}

.dispBox img, .dispBox canvas {
  max-width: 100%;
}